a:link, a:visited{
	background-color: #f44336;
	color:creem;
	padding: 14px 25px;
	text-align:center;
	text-decoration:none;
	display:inline-block;
	}
div:hover {
	background-color:cyan;
	width:50px;
	padding:50px;
	margin:auto;
	border:1px dotted red;
	}
Pre::after {
	content:url(farm.jpg);
}
img{
opacity:0.7;
filter:alpha(opacity=50);
}
div{
	background:rgb(0,255,255);
	padding:10px;
}
